
@media (max-width: 640px) {
    table {
        display: block !important;
        overflow-x: scroll !important;
    }

    iframe {
        width: 100% !important;
    }
    .taptargets{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
